<div id="projectspage"></div>

<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading"><%= @article.title %></div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
           <div class="row">
            <div class="col-lg-6 col-md-6">
             <!--%= image_tag(@article.image_url, :class => "img-responsive") %-->
            </div>
            <div class="col-lg-6 col-md-6">
              <h2><u><%= @article.title %></u></h2>
              <% if @article.author %>
                <h4>Autor: <%= @article.author %></h4>
              <% end %>
              <% if @article.source %>
                <h5>Fuente: <%= @article.source %></h5>
              <% end %>
              <% if @article.link %>
                <h5>Enlace: <%= link_to @article.link %></h5>
              <% end %>
              <p><u>Nota</u></p>
              <p><%= @article.body %></p>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center return-link">
      <%= link_to "Regresar al inicio", root_path %>
    </div>
  </div>
</div>
