<div id="full-orange">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Trabaja con nosotros.</div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3 class="text-center">Vacantes</h3>
      <div class="text-center bio">
        <p>En <strong><%= link_to "VR3", root_path %></strong> siempre estamos buscando mentes creativas. Descubre más sobre las vacantes abiertas.</p>
      </div>
      <% if @jobs.exists? %>
      <ul class="list-group">
        <% @jobs.each do |j| %>
          <li class="list-group-item">
            <h3><%= j.department %></h3>
            <%= link_to job_path(j) do %> 
              <h4><%= j.position %> </h4>
            <% end %>
            <h6><%= j.location%> | <%= j.department %> | <%= j.commitment %></h6>
            <% if user_signed_in? %>
              <% if current_user.username == "oschvr" %>
                <%= link_to 'Editar', edit_job_path(j), :class => "text-center" %>
                <%= link_to 'Eliminar', job_path(j), method: :delete, :class => "text-center" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% else %>
        <p>Por el momento no tenemos vacantes abiertas.</p>
        <p>Regresa pronto !</p>
      <% end %>
    </div>
  </div>
</div>