<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Trabaja con nosotros.</div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <h3>Vacantes</h3>
    <div class="text-center bio">
      <p>En <strong><%= link_to "VR3", root_path %></strong> siempre estamos buscando mentes creativas. Descubre más sobre las vacantes abiertas.</p>
    </div>    
        <% @jobs.each do |j| %>
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">

            <h3><%= link_to j.position, job_path(j) %></h3>
            <h4><%= j.location %></h4>
            <p><%= markdown(j.overview.truncate(180)) %></p>
            <p><%= markdown(j.qualifications.truncate(180)) %></p>
            <p><%= markdown(j.responsabilities.truncate(180)) %></p>
            <h4><%= link_to 'Leer más', job_path(j) %></h4>
            </br>
            </div>
          </div>
        <% end %>
  </div>
</div>