<div id="projectspage"></div>

<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading"><u><%= @job.position %></u></div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
              <% if @job.picture.url %>
                <%= image_tag @job.picture.url, :class => "img-responsive"%> 
              <% end %>
              </div>
              <div class="col-lg-6 col-md-6">
                <% if @job.location %>
                  <h4>Ubicación: <%= @job.location %></h4>
                <% end %>
                <% if @job.salary %>
                  <h5>Salario: <%= @job.salary %></h5>
                <% end %>
                <p><u><strong>Descripción:</strong></u> <%= markdown(@job.overview) %></p>
                <p><u><strong>Responsabilidades:</strong></u> <%= markdown(@job.responsabilities) %></p>
                <p><u><strong>Requisitos:</strong></u> <%= markdown(@job.qualifications) %></p>
                <%=  mail_to "jobs@vr3.io", 'Aplica aqui', :cc => "info@vr3.io", :subject => "JOB Application @ VR3: " + @job.position %> 
                <small> (Recuerda tener a la mano tu CV en formato PDF)</small>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center return-link">
      <%= link_to "Regresar a vacantes", jobs_path %>
    </div>
  </div>
</div>

