
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>EMPRESA</h3>
        <ul class="list-unstyled quicklinks">
          <a href="/company"><li>Equipo</li></a>
          <a href="/jobs"><li>Trabajo</li></a>
          <%= link_to "Contacto", root_path(:anchor => "contact") %>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>SERVICIOS</h3>
        <ul class="list-unstyled quicklinks">
          <a href="/services"><li>VR & AR </li></a>
          <a href="/services"><li>ML & AI</li></a>
          <a href="/services"><li>Blockchain<li></a>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
      <h3>COMUNIDAD</h3>
        <ul class="list-unstyled quicklinks">
          <a href="http://mxvr.co" target="_blank"><li>MXVR</li></a>
          <a href="http://static.vr3.io/vr3/press/VR3_PressKit_2017.zip" target="_blank"><li>Press Kit</li></a>
          <!--a href="http://shop.vr3.io" target="_blank"><li>Tienda</li></a-->
          <!--a href="http://blog.vr3.io" target="_blank"><li>Blog</li></a-->
          <!--a href="/press"><li>Prensa</li></a-->
        </ul>     
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
        <span class="copyright">VR3 © 2017 | <strong>CGL SAPI de CV </strong></span>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <ul class="list-inline social-buttons">
          <li>
          <a href="http://twitter.com/vr3io" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
          <a href="http://facebook.com/vr3io" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
          <a href="http://instagram.com/vr3io" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
        <ul class="list-inline quicklinks">
          <li><a href="/privacy">Privacidad y Términos de Uso</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-3">
        <ul class="list-inline quicklinks">
          <% if !user_signed_in? %>
            <li>
              <%= link_to "Login", new_user_session_path, :class => "active" %>
            </li>
            <!--li>
              <%= link_to "register", new_user_registration_path%>
            </li-->
          <% else %>
            <li>
              <%= link_to(current_user.username, edit_user_registration_path,  :class => "active") %>
            </li>
            <li>
              <%= link_to("Logout", destroy_user_session_path, :method => :delete,  :class => "active") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>