<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Cambiar la contrase単a</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "Nueva contrase単a", :class => "form-control" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar mi nueva contrase単a" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Cambiar mi contrase単a" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>