<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Nosotros</div>
    </div>
  </div>
</div>
<br>
<div class="container">
	<div class="row text-center">
		<h3>Compañia</h3>
		<div class="text-center b io">
			<p><strong><%= link_to "VR3", root_path %></strong> es un startup de Realidad Virtual en la Ciudad de México.</p>
			<p>Creamos experiencias interactivas para agencias, publicidad, mercadotecnia, casas productoras y cualquier 
			empresa, compañía o particular interesado.</p>
			<p>VR3 nació como <strong>Vectorthree</strong>. Imaginado en una clase de videojuegos hace más de 4 años, Vectorthree fue formado por Oscar Chavez, Patrick Moss y Roberto Ramos, tres estudiantes del ITESM CCM, bajo el nombre legal de <strong>CG Logística SAPI de CV</strong>. 
			Así como también fundamos <strong><a href="mxvr.co" target="_blank">MXVR</a></strong>, una comunidad abierta a todo el público sobre Realidad Virtual.</p>
		</div>
		<!--Oscar Chavez-->
		<div class="col-sm-4 col-md-6 ">
			<%= image_tag "company/oscar.png", class: "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Oscar Chavez</h3>
			<h5>Cofundador & CEO</h5>
			<p>Director Comercial. Desarrollador Web Fullstack.</p>
			<p>RoR. JS. C#. REST/API. SQL</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="http://twitter.com/ostocino" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="http://instagram.com/ostocino" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
		</div>
		<!--Patrick Moss-->
		<div class="col-sm-4 col-md-6">
			<%= image_tag "company/patrick.png", :class => "img-responsive img-circle", :style => "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Patrick Moss</h3>
			<h5>Cofundador & CTO</h5>
			<p>Director Tecnología. Desarrollador Principal. </p>
			<p>C#. JS. C++. PHP. Unity. OpenGL.</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="http://instagram.com/patrick_mss" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
		</div>
		<!--Roberto Ramos-->
		<!--div class="col-sm-3 col-md-4">
			<%= image_tag "http://vr3.io/img/team/bob.png", :class => "img-responsive img-circle" %>
			<h3>Roberto Ramos</h3>
			<h5>Comevergas</h5>
			<p>Director Tecnología. Desarrollador Principal. </p>
			<p>Unity3D. C#. C++. PHP. Python</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="http://twitter.com/ostocino" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
		</div>
	</div-->
</div>