<div id="companypage"></div>
<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Nosotros</div>
    </div>
  </div>
</div>
<br>
<div class="container">
	<div class="row text-center">
		<h3>Compañia</h3>
		<div class="bio">
      <p class="lead"><strong><%= link_to "VR3", root_path %></strong> es un estudio de innovación basado en la Ciudad de México<a href="https://goo.gl/maps/SXjjxz3Yrf92">,</a> que desarrolla aplicaciones que agregan valor a compañias manejadas por la tecnología y a organizaciones gubernamentales.</p>
      <p class="lead">Con más de 4 años operando, <strong><%= link_to "VR3", root_path %></strong> sobresale como una compañia exitosa de desarrollo tecnológico.</p>
      <%= link_to 'Descarga el Kit de Prensa', 'http://static.vr3.io/vr3/press/VR3_PressKit_2017.zip' , class: "lead" %>
		</div>
    <br>
		
    <!--Oscar Chavez-->
		<div class="col-sm-6 col-md-6">
			<%= image_tag "company/oscar.png", class: "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Oscar Chavez</h3>
			<h5>Cofounder @ <%= link_to "VR3", root_path %></h5>
      <h5>Fullstack Developer & SysAdmin</h5>
			<p>Architecture. Engineering. Innovation. Admin.</p>
			<p>RoR. Node. Js. C#. REST/API. SQL. Bash/UNIX</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="http://github.com/oschvr" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/oschvr" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/oscarchavezromero/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
		</div>
		
    <!--Patrick Moss-->
		<div class="col-sm-6 col-md-6">
			<%= image_tag "company/patrick.png", :class => "img-responsive img-circle", :style => "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Patrick Moss</h3>
			<h5>Cofounder @ <%= link_to "VR3", root_path %></h5>
      <h5>Blockchain Developer & Networks</h5>
			<p>Smart Contracts. Deep Learning. </p>
			<p>C#. JS. C++. PHP. Unity. OpenGL.</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="http://instagram.com/patrick_mss" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li><a href="https://twitter.com/Mosstachio" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
		</div>
  </div>  
  </br></br>
  <div class="row text-center">
    <!--Gustavo L'Eglise-->
    <div class="col-sm-6 col-md-6">
      <%= image_tag "company/gustavo.png", class: "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
      <h3>Gustavo L'Eglise</h3>
      <h5>Frontend Developer</h5>
      <p>Unity3D Developer. Web Developer</p>
      <p>MEAN. Unity3D. C#. Js</p>
      <ul class="list-inline social-buttons">
        <li><a href="https://www.linkedin.com/in/gustavoleglise" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <!--li><a href="https://github.com/GustavoLeglise" target="_blank"><i class="fa fa-github"></i></a>
        </li-->
      </ul>
    </div>

		<!--Roberto Ramos-->
		<div class="col-sm-6 col-md-6">
			<%= image_tag "company/bob.png", :class => "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Roberto Ramos</h3>
      <h5>Cofounder @ <%= link_to "VR3", root_path %></h5>
			<h5>Technical Advisor</h5>
			<p>Machine Learning. Computer Vision. Data Science</p>
			<p>Unity3D. C++. Python. Tensorflow. Keras. MatLab</p>
			<p>Cofundador <%= link_to "MXVR", "http://mxvr.co" %>.</p>
			<ul class="list-inline social-buttons">
        <li><a href="https://github.com/broyson" target="_blank"><i class="fa fa-github"></i></a>
        </li>
      </ul>
		</div>


  </div>
  <br><br>
  <div class="row text-center">
    <!--Rodrigo Hijar-->
		<div class="col-sm-6 col-md-6">
			<%= image_tag "company/rhijar.png", class: "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Rodrigo Hijar</h3>
			<h5>Business Consultant & Manager</h5>
      <p>Client segmentation. Go-to-market and commercial strategy.</p>
      <p>Expansion. Growth</p>
			<ul class="list-inline social-buttons">
        <!--li><a href="http://github.com/oschvr" target="_blank"><i class="fa fa-github"></i></a></li-->
        <li><a href="http://twitter.com/RodrigoHijar" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rodrigo-hijar-35527559/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
		</div>
		
    <!--Rodrigo Llanos-->
		<div class="col-sm-6 col-md-6">
			<%= image_tag "company/rllanos.png", :class => "img-responsive img-circle", :style => "max-width: 50%; transform:translate(50%,0)" %>
			<h3>Rodrigo Llanos</h3>
			<h5>Finance Consultant & Manager</h5>
      <p>Financial Projections. Risk Assesment.</p>
      <p>Compliance. Regulations.</p>
			<ul class="list-inline social-buttons">
        <li><a href="https://twitter.com/rodrigollanosb" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rodrigollanosb/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
		</div>
	</div>
  <br><br>
  <div class="row text-center">
    <!--Rodrigo Moreno-->
    <div class="col-sm-6 col-md-6">
      <%= image_tag "company/rodrigo.png", class: "img-responsive img-circle", style: "max-width: 50%; transform:translate(50%,0)" %>
      <h3>Rodrigo Moreno</h3>
      <h5>3D Artist & Motion Graphics</h5>
      <p>Cofundador <%= link_to "Estudio Cromosoma", "http://www.estudiocromosoma.com" %></p>
      <p>Maya. C4D. Ps. Ai. Ae.</p>
      <ul class="list-inline social-buttons">
        <!--li><a href="http://www.estudiocromosoma.com" target="_blank"><i class="fa fa-hand-pointer-o"></i></a>
        </li-->
        <li><a href="http://twitter.com/CromosomaMX" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>