<div id="homepage"></div>

<!--Video-->
<div class="landing">
  <div class="video-container">
    
    <div class="video-source">
      <%= video_tag "videos/vr3.webm", class: "main-video", autoplay: true, loop: true, muted: true%>
      <!--video autoplay loop muted src="http://static.vr3.io/vr3/img/main/vr3.webm" type="video/webm"></video-->
    </div>

    <div class="video-overlay">
      <div class="overlay-text">
        <div class="intro-heading">VR, AI, Crypto</div>
        <div class="intro-lead-in">Evolución a través de la tecnología.</div>
        <a href="#projects" class="page-scroll btn btn-xl">Conoce más</a>
      </div>
    </div>
  </div>
</div>

<!--section id="subscribe" class="bg-darkest-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading normal-text-white">Participa en el beta</h2>
        <h3 class="section-subheading normal-text-white">También te subscribiras a nuestro <i>mailing list</i>.</h3>
      

        
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//vr3.us14.list-manage.com/subscribe/post?u=c424b4ecee3ad93a9cfbe2ea8&amp;id=74da438cf0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo Electrónico" required>

            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c424b4ecee3ad93a9cfbe2ea8_74da438cf0" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Participar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>


      </div>
    </div>
    </br>
  </div>
</section-->

<!-- Clients Section -->
<section id="clients" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Clientes</h2>
        <!--h3 class="section-subheading normal-text">Personas y empresas que confiaron en nosotros.</h3-->
      </div>
    </div>
    <br/>

    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/google.png", class: "client-img-high" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/samsung.png", class: "client-img-high" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/modelo.png", class: "client-img-high" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/coca.png", class: "client-img-high" %>
        </a>
      </div>
    </div>
    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/3m.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/airwick.png", class: "client-img" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/warner.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/purina.png", class: "client-img" %>
        </a>
      </div>
    </div>
    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/coppel.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/scotch.png", class: "client-img" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/zumba.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/indio.png", class: "client-img" %>
        </a>
      </div>
    </div>

    </div>
  </div>
</section>

<!-- Portfolio Section -->
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Proyectos</h2>
        <!--h3 class="section-subheading normal-text">Lo que hicimos y lo que nos gustó.</h3-->
      </div>
    </div>
    </br>

    <div class="row">
      <div class="container">
          <% @projects.each do |p| %>
            <%= link_to project_path(p) do %>
              <div class="col-xs-6 col-sm-4 col-md-4">
                  <div class="thumbnail">
                      <% if p.image.url %>
                          <%= image_tag p.image.url %>        
                      <% else %>
                          <%= image_tag "http://static.vr3.io/vr3/img/projects/#{p.client}/cover.png", :class => "img-responsive"%>
                      <% end %>
                      <div class="caption">
                          <h4><u><%= p.title %></u></h4>
                          <h5>Cliente: <%= p.client %></h5>
                          <h6>Agencia: <%= p.provider %></h6>
                          <h5><%= p.date %></h5>
                
                          <!--small><%= markdown(p.description.truncate(30))%></small-->
                      <% if user_signed_in? %>
                          <% if current_user.username == "oschvr" %>
                            <%= link_to 'Editar', edit_project_path(p), :class => "text-center" %>
                            <%= link_to 'Eliminar', project_path(p), method: :delete, :class => "text-center" %>
                          <% end %>
                      <% end %>
                      </div>
                  </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
    
    <br/>
  </div>
</section>

<!-- Press Section class="bg-light-gray" -->
<!-- Clients Section -->
<section id="press" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Prensa</h2>
        <!--h3 class="section-subheading normal-text">Personas y empresas que confiaron en nosotros.</h3-->
      </div>
    </div>
    <br/>
    <div class="row" id="press"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to 'http://www.reforma.com/aplicacioneslibre/preacceso/articulo/default.aspx?id=1145805&v=3&urlredirect=http://www.reforma.com/aplicaciones/articulo/default.aspx?id=1145805&v=3', target: "_blank" do %>
           <%= image_tag "press/reforma.png", class: "press-img-high" %>
        <% end %>
        
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to 'http://expansion.mx/emprendedores/2017/06/25/mexico-obtiene-10-preseas-en-cannes-lions-2017', target: "_blank" do %>
          <%= image_tag "press/expansion.png", class: "press-img-high" %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to 'https://www.merca20.com/entrevista-exclusiva-horacio-navarro-ceo-de-leo-burnett-habla-del-leon-de-bronce-ganado-en-cannes', target: "_blank" do %>
          <%= image_tag "press/merca20.png", class: "press-img-high" %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to 'http://tecreview.itesm.mx/vr3-la-startup-mexicana-quiere-llevar-la-vr-limite/', target: "_blank"  do%>
          <%= image_tag "press/tecreview.png", class: "press-img-high" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!--section id="press">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Prensa</h2>
      </div>
    </div>
    <br/>
     <div class="row">
      <% @articles.each do |a| %>
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail">
            <%= link_to a.link do %>
              <%= image_tag a.logo.url, :class => "img-responsive"%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section-->
