<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Trabaja con nosotros.</div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <h3>Vacantes</h3>
    <div class="text-center bio">
      <p>En <strong><%= link_to "VR3", root_path %></strong> siempre estamos buscando mentes creativas. Descubre más sobre las vacantes abiertas.</p>
    </div>    
    <% if @jobs %>
      <%= @jobs.each do |j| %>
        <div class="col-sm-4 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= j.position %></h3>
              <p><%= j.overview %></p>
              <%= link_to "Leer más", job_path(j.id), :class => "btn btn-lg" %>
            </div>
          </div>
        </div>        
      <% end %>
    <% else %>
      <h3>Por el momento, no hay vacantes abiertas. Vuelve pronto !</h3>
    <% end %>

  </div>
</div>