<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Proyectos en <%= link_to("VR3", root_path) %></div>
    </div>
  </div>
</div>
<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>Nuevo Proyecto</h1>	
				<p>Intenta llenar la mayor cantidad de campos con informaci칩n precisa y b치sica del trabajo realizado.
				</p>
				<hr>
				<%= form_for @project, html: { multipart: true} do |p| %>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Titulo</span>
              <%= p.text_field :title, autofocus: true, :class => "form-control validate", :placeholder => "Titulo" %>
            </div>        
          </div>

					<div class="form-group">
						<p>Portada del Proyecto (562x387, JPG, PNG)</p>
						<%= p.file_field :image, :placeholder => "Imagen" %>
					</div>

					<div class="form-group">
						<p>Video del Proyecto (640x480, WEBM, MOV, MP4)</p>
						<%= p.file_field :video, :placeholder => "Video" %>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Descripci칩n (Usa <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>)</span>
							<%= p.text_area :description, autofocus: true, :class => "form-control validate", :placeholder => "Descripci칩n", rows: 5, cols: 10 %>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Enlance / URL</span>
							<%= p.text_field :link, autofocus: true, :class => "form-control validate", :placeholder => "Link" %>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Cliente *</span>
							<%= p.text_field :client, :required => true, autofocus: true, :class => "form-control validate", :placeholder => "Cliente" %>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Agencia / Proveedor</span>
							<%= p.text_field :provider, autofocus: true, :class => "form-control validate", :placeholder => "Agencia / Proveedor" %>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Fecha</span>
							<input type="text" id="date" name="date" data-provide='datepicker' class="form-control" autofocus="true" placeholder="Fecha">
						</div>
					</div>


					<button class="btn-xl btn-inverse" type="submit" name="action">Enviar</button>

				<% end %>
			</div>
		</div>
	</div>
</section>