<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Proyectos en <%= link_to("VR3", root_path) %></div>
    </div>
  </div>
</div>
<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>Nuevo Proyecto</h1>	
				<p>Intenta llenar la mayor cantidad de campos con informaci칩n precisa y b치sica del trabajo realizado.
				</p>
				<p><strong>Por hacer:</strong> M칩dulo de carga de imagenes/videos, Gestor de folders, Mejorar UI</p> 
				<hr>
				<%= form_for @project do |p| %>
					<div class="form-group">
						<%= p.text_field :title, autofocus: true, :class => "form-control validate", :placeholder => "Titulo" %>
					</div>

					<div class="form-group">
						<%= p.text_area :description, autofocus: true, :class => "form-control validate", :placeholder => "Descripci칩n", rows: 5, cols: 10 %>
					</div>

					<div class="form-group">
						<%= p.text_field :link, autofocus: true, :class => "form-control validate", :placeholder => "Link" %>
					</div>

					<div class="form-group">
						<%= p.text_field :client, autofocus: true, :class => "form-control validate", :placeholder => "Cliente" %>
					</div>

					<div class="form-group">
						<%= p.text_field :provider, autofocus: true, :class => "form-control", :placeholder => "Agencia" %>
					</div>

					<div class="form-group">
						<input type="text" id="date" name="date" data-provide='datepicker' class="form-control" autofocus="true" placeholder="Fecha">
					</div>

					<button class="btn-xl btn-inverse" type="submit" name="action">Enviar</button>

				<% end %>
			</div>
		</div>
	</div>
</section>