<!--header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading"><u><%= @project.title %></u></div>
    </div>
  </div>
</header-->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">            

		<div class="item active">
			<div align="center">
				<video autoplay muted loop>
					<source src="http://vr3.io/img/projects/<%= @project.client %>/v1.mp4" width="1024" height="552" type="video/mp4">
						Your browser does not support the video tag.
				</video>
			</div>
			<div class="carousel-caption">
				<h3><u><%= @project.title %></u></h3>
				<h4>Cliente: <%= link_to(@project.client, "http://#{@project.client}.com") %></h4>
				<% if @project.provider %>
					<h4>Agencia: <%= link_to(@project.provider, "http://#{@project.provider}.com") %></h4>
				<% else %>
				<% end %>
				<p><%= @project.description %></p>
			</div>
		</div> 
		<div class="item">
			<div align="center">
				<video autoplay muted loop>
					<source src="http://vr3.io/img/projects/<%= @project.client %>/v2.mp4" width="1024" height="552" type="video/mp4">
						Your browser does not support the video tag.
				</video>
			</div>
			<div class="carousel-caption">
				<h3><u><%= @project.title %></u></h3>
				<h4>Cliente: <%= link_to(@project.client, "http://#{@project.client}.com") %></h4>
				<!--h4>Agencia: <%= link_to(@project.provider, "http://#{@project.provider}.com") %></h4-->
				<p><%= @project.description %></p>
			</div>
		</div>
		<div class="item">
			<div align="center">
				<video autoplay muted loop>
					<source src="http://vr3.io/img/projects/<%= @project.client %>/v3.mp4" width="1024" height="552" type="video/mp4">
						Your browser does not support the video tag.
				</video>
			</div>
			<div class="carousel-caption">
				<h3><u><%= @project.title %></u></h3>
				<h4>Cliente: <%= link_to(@project.client, "http://#{@project.client}.com") %></h4>
				<!--h4>Agencia: <%= link_to(@project.provider, "http://#{@project.provider}.com") %></h4-->
				<p><%= @project.description %></p>
			</div>
		</div>
		<a class="left carousel-control" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>