<div id="full-orange">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Nuestro trabajo.</div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="container">

        <%= form_for_filterrific @filterrific do |f| %>
            <div class="col-sm-3 col-sm-offset-4">
                <div class="form-group">
                    <div class="input-group">
                        <%= f.text_field :search_query, autofocus: true, :class => "form-control validate", :placeholder => "Buscar Proyecto" %>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>        
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <%= f.select(:with_category, @filterrific.select_options[:with_category], { include_hidden: false, include_blank: 'Todo'},
                        :class => "form-control"
                        )%>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 text-center">
                <%= render_filterrific_spinner %>
                <%= link_to('Limpiar filtros', reset_filterrific_url) %>
            </div> 

        <% end %>

        <%= render partial: "partials/projects", locals: { projects: @projects } %>

    </div>
</div>
<br/>
