<div id="projectspage"></div>

<div id="full-blue">
  <div class="container">
    <div class="intro-text">
    	<div class="intro-heading">Proyectos</div>
    </div>
  </div>
</div>
<br>
<div class="row">
	<div class="container">
		<div class="col-lg-12 col-md-12">
      <% if @project.video.url %>
        <%= video_tag @project.video.url, controls: true, muted: true%>
      <% else %>
        <video controls muted>
          <source src="http://static.vr3.io/vr3/img/projects/<%= @project.client %>/video.mp4" type="video/mp4">
          <source src="http://static.vr3.io/vr3/img/projects/<%= @project.client %>/video.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      <% end %>
		</div>

		<div class="col-lg-12 col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
			  		<h2><u><%= @project.title %></u></h2>
						<% if @project.provider? %>
							<h4><%= @project.client %> - <i><%= @project.provider %></i></h4>
						<% else %>
							<h4><%= @project.client %></h4>
						<% end %>
            <hr>
						<p><%= markdown(@project.description) %></p>
						<p><%=@project.date %></p>
						<% if @project.link? %>
              <%= link_to "Más información", @project.link %>
            <% end %>
			  </div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 text-center return-link">
			<%= link_to "Regresar a proyectos", root_path(:anchor => "projects") %>
		</div>
		<br>
	</div>
	
</div>
