<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Expertos en Realidad Virtual y Aumentada.</div>
      <div class="intro-lead-in">Fácil. Rápido. Inmediato</div>
      <a href="#projects" class="page-scroll btn btn-xl">Conoce más</a>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Servicios</h2>
        <h3 class="section-subheading normal-text">La mejor posible calidad de entrega en cada uno.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Transmisiones en Vivo</h4>
        <p class="subtext-muted">Ingestión de Streams. Transcoding. Transrating. Generación de Manifiestos. Uso de multiples CDNs. Balanceo de Cargas. Bitrates Adaptivo. Soporte de multiples protocolos HTTP. </p>
        <p class="bold-text">Todo en la nube.</p>
        <ul class="list-unstyled quicklinks">
          <li>Captura e Ingestión</li>
          <li>Procesamiento</li>
          <li>Distribución</li>
        </ul>
        <br/>
        
        <br/><br/>
      </div>
      <div class="col-md-4 col-sm-4">
        <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Plataformas de Distribución</h4>
        <p class="subtext-muted">Manejo de usuarios. Administración de Pagos. Creación de Pagos-Por-Evento y Subscripciones. Integración Continua. Flujos de trabajo transparentes.</p>
        <p class="bold-text">Para cualquier audiencia.</p>
        <ul class="list-unstyled quicklinks">
          <a href="#/partners"><li>- 360/VR</li></a>
          <a href="#/blog"><li>- OTT</li></a>
          <a href="#/press"><li>- iOS/Android</li></a>
        </ul>
        <br/>
        <a class="readmore-link" href="">Leer más..</a>
        <br/><br/>
      </div>
      <div class="col-md-4 col-sm-4">
        <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Experiencias en VR y AR</h4>
        <p class="subtext-muted">Experimentos en 3D/VR. Creación de experiencias únicas. Implementación de Realidad Aumentada para empresas. Activaciones comerciales. Videojuegos.</p>
        <p class="bold-text">Expertos en desarrollo.</p>
        <ul class="list-unstyled quicklinks">
          <a href="#/partners"><li>- HTC Vive</li></a>
          <a href="#/blog"><li>- Samsung Gear VR</li></a>
          <a href="#/press"><li>- Google Cardboard</li></a>
        </ul>
        <br/>
        <a class="readmore-link" href="">Leer más..</a>
        <br/><br/>
      </div>
    </div>
  </div>
</section>

<!-- Clients Section -->
<section id="clients" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Clientes</h2>
        <!--h3 class="section-subheading normal-text">Personas y empresas que confiaron en nosotros.</h3-->
      </div>
    </div>
    <br/>

    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/google.png", class: "client-img-high" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/samsung.png", class: "client-img-high" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/modelo.png", class: "client-img-high" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/coca.png", class: "client-img-high" %>
        </a>
      </div>
    </div>
    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/3m.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/airwick.png", class: "client-img" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/warner.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/purina.png", class: "client-img" %>
        </a>
      </div>
    </div>
    <div class="row" id="portfolio"> 
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
           <%= image_tag "clients/coppel.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/scotch.png", class: "client-img" %>  
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/zumba.png", class: "client-img" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#">
          <%= image_tag "clients/indio.png", class: "client-img" %>
        </a>
      </div>
    </div>

    </div>
  </div>
</section>
<!-- Solutions Section -->

  <!--section id="solutions">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Soluciones</h2>
          <h3 class="section-subheading normal-text">A la medida y para multiples niveles de demanda.</h3>
        </div>
        <br/>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default panel-fixed-height">
            <div class="panel-body">
              <h5>Eventos en Vivo</h5>
              <p class="text-muted">
                Transmite tus partidos, conciertos, conferencias, o cualquier evento, en vivo y en directo a través de la web. Monetiza con un Pago-Por-Evento.
              </p>
              <a href="" class="readmore-link">Leer Mas...</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default panel-fixed-height">
            <div class="panel-body">
              <h5>Tu propia cadena</h5>
              <p class="text-muted">
                Distribuye tu serie, pelicula, cortometraje, o videos institucionales en demanda. Activa un sistema de subscripciones. O simplemente vende tu producción.
              </p>
              <a href="" class="readmore-link">Leer Mas...</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5>Marketing Inteligente</h5>
              <p class="text-muted">
                Experimenta con los expertos en las tecnologías más nuevas, como VR y AR y crea un fuerte impacto con tu marca o empresa.
              </p>
              <a href="" class="readmore-link">Leer Mas...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->

<!-- Portfolio Section -->
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Proyectos</h2>
        <!--h3 class="section-subheading normal-text">Lo que hicimos y lo que nos gustó.</h3-->
      </div>
    </div>
    </br>

    <div class="row">
      <% @projects.each do |p| %>
        <%= link_to project_path(p.id) do %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag "http://vr3.io/img/projects/#{p.client}/cover.png", :class => "img-responsive"%>
              <!--img class="img-responsive" src="http://placehold.it/350x250" alt="Google"-->
              <div class="caption">
                <h3><u><%= p.title %></u></h3>
                <h4>CLiente: <%= p.client %></h4>
                <h5>Agencia: <%= p.provider %></h5>
                <h5><%= p.date %></h5>
                <p><%= p.description.truncate(80) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br/>
  </div>
</section>
<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contacto</h2>
        <h3 class="section-subheading text-subtitle-white">Escríbenos aquí, o mándanos un correo a <a href="mailto:info@vr3.io" style="color: #FFBDBE;">info@vr3.io</a></h3>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="php/contact.php" method="post" class="validate" target="_blank" novalidate role="form" id="contactForm">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Nombre" id="name" required="" data-validation-required-message="Porfavor escribe tu nombre completo.">
                <p class="help-block text-danger list-unstyled"></p>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" id="email" required="" data-validation-required-message="Porfavor escribe tu correo electrónico.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <textarea type="text" name="message" class="form-control" placeholder="Mensaje" id="email" required="" data-validation-required-message="Porfavor escribe tu mensaje."></textarea> 
                <p class="help-block text-danger"></p>
              </div>
              
               <div class="checkbox">
                <label>
                  <input type="checkbox"> <p class="normal-text-white">Al enviar esta forma aceptas el <a href="./privacidad.html" style="color: #FFBDBE;">Aviso de Privacidad y Términos de Uso</a></p>
                </label>
              </div>        
              <div class="g-recaptcha" data-sitekey="6Ld6AR8TAAAAACju2U8T7UsQNRq_GadUYw9HOXnk"></div>
              <br/>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div id="success"></div>
              <div id="error"></div>
            </div>
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-xl">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>