

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VR3 is a Mexico City based innovation studio that develops new applications and technologies to provide added value solutions for technology driven companies and also for government organizations.
    We offer Virtual & augmented reality, artificial intelligence, neural networks, deep learning, distributed databases services">
    <meta name="keywords" content="video, web, vr, ar, webvr, hmd, headsets, ai, blockchain, block chain, cryptocurrency, bitcoin, ethereum, payments, pagos, transmisiones, transmision en vivo, vr live, vr en vivo, deep learning, machine learning, trading">
    <meta name="author" content="info@vr3.io">
    <title>VR3 | Evolution through technology.</title>
    <!--Open Graph Protocol-->
    <meta property="og:title" content="VR3 | Evolution through technology." />
    <meta property="og:site_name" content="VR3 Technologies" />
    <meta property="og:type" content="image"/>
    <meta property="og:url" content="https://vr3.io" />
    <meta property="og:image" content="http://static.vr3.io/vr3/img/main/vr3banner.jpg" />

    <!--reCAPTCHA-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!--jQuery-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap Core CSS -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <!-- Custom CSS -->
    <!--link href="css/main.css" rel="stylesheet"-->
    <!-- Custom Fonts -->
    <!--link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"-->
    <!--reCaptcha-->
    <!--script src='https://www.google.com/recaptcha/api.js'></script-->
    <!--Slick Carousel-->
    <!--link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <%= render partial: "partials/header" %>

  <body id="page-top" class="index">
    <%= yield %>
  </body>

  <%= render partial: "partials/contact" %>
  <%= render partial: "partials/footer" %>

</html>


<!--

  WHAT IS IT EXACTLY THAT YOU ARE LOOKING FOR?
  
  MAYBE THIS?:
  
  ....................../´¯/) 
  ....................,/¯../ 
  .................../..../ 
  ............./´¯/'...'/´¯¯`·¸ 
  ........../'/.../..../......./¨¯\ 
  ........('(...´...´.... ¯~/'...') 
  .........\.................'...../ 
  ..........''...\.......... _.·´ 
  ............\..............( 
  ..............\.............\...
  
  >:) just kidding... 

  // CONTACT ME FOR A PRIZE: oscar@vr3.io
  
  -->

